* {
    margin: 0;
    padding: 0;
}

.blue-color {
    color: #363958;
}

.coral-color {
    color: #FF8367;
}

.gray-color {
    color: rgba(11, 11, 11, 0.555);
}

.button {
    text-decoration: none;
    background-color: #363958;
    padding: 10px 20px;
    border-radius: 10px;
    color: antiquewhite;
    display: inline-block;
    margin: 2% 0;
}

.large-text {
    font-size: 100px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.para-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
}

.header {
    background: url(images/cpu.jpg);
    background-size: cover;
    padding: 20% 10%;
    text-align: center;
    background-color: rgba(185, 185, 220, 0.983);
    background-blend-mode: overlay;
    font-size: 100px;
    font-family: 'Aboreto', cursive;
}

.top {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(120, 168, 246, 0.25);
    background-blend-mode: darken;
}

.mid {
    background-color: rgba(120, 168, 246, 0.068);
}

.main-container {
    padding: 2%;
    display: flex;
}

.half-width {
    width: 50%;
    padding: 2%;
}

.img {
    width: 90%;
}

a:hover {
    background-color: rgb(46, 9, 114);
}
@media only screen and(max-width:768px) {
    .header{
        display: none;
    }
}